@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
/* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
   /* justify-content: flex-end; */
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  
}

.navbar_toolbar{
  background:	#2F4F4F;
   
}


.title{
  display:flex;
  font-weight: bold;
   color: #E0FFFF;
  text-align: end;
   display: block;
   margin-left: 20px;
  font-family: 'Playball', cursive;
}
.parag{
  text-align: center;
 color: #E0FFFF;
  font-family: 'Playball', cursive;
}
.logoName{
font-family: 'Dancing Script', cursive;
}

.homepage-bgimage {
    background-color: #5F9EA0;
    background-size: cover;
    height: 100vh;
}
.icon{
 width:50px;
 margin-left:auto;
 margin-right:auto;
 padding: 10px;
   
}
.footerName{
  background:	#2F4F4F;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.navbar{
 color: #E0FFFF;
}

#avatar{
  width: 150px;
  margin-left: 130px;
  border-radius: 70%
}